<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
	<locations>
		<location path="C:\Users\christian\git\filemaker.plugin\ch.eugster.filemaker.fsl.plugin\lib" type="Directory"/>
	</locations>
	<environment>
		<arch>x86_64</arch>
		<os>macosx</os>
		<ws>cocoa</ws>
		<nl>en_US</nl>
	</environment>
</target>